<!DOCTYPE html>
<html>
<head>
    <title>Admin - horsesimulation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
</head>
<body>
<h1>Horsesimulation administration</h1>
{% block body %}{% endblock %}
</body>
</html>
