{% extends '@AppAdmin/base.html.twig' %}
{% block body %}
    <p class="normal">Bienvenue sur le tableau de bord.</p>
    <ul>
        <li>
            <a href="{{ path('sonata_admin_dashboard') }}">Aller sur le menu d'admin</a>
        </li>
        <li>
            <a href="{{ path('server') }}">Effectuer des actions sur le serveur</a>
        </li>
        <li>
            <a href="{{ path('redirectPhpMyAdmin') }}">Lien vers PHPMyAdmin (droits administrateurs)</a>
        </li>
    </ul>
    <a href="{{ path('logout') }}">
        <button class="topleft-button logout">Déconnexion</button>
    </a>
{% endblock %}
