<!DOCTYPE html>
<html>
<head>
    <title>Admin - horsesimulation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
</head>
<body>


Bienvenue sur le tableau de bord.
<br>
Voulez-vous : <br>
<ul>
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Aller sur le menu d'admin</a>
    </li>
    <li>
        <a href="{{ path('server') }}">Effectuer des actions sur le serveur</a>
    </li>
</ul>

</body>
</html>
