{% extends '@AppAdmin/base.html.twig' %}
{% block body %}
Bienvenue sur le tableau de bord.
<br>
Voulez-vous : <br>
<ul>
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Aller sur le menu d'admin</a>
    </li>
    <li>
        <a href="{{ path('server') }}">Effectuer des actions sur le serveur</a>
    </li>
</ul>
{% endblock %}
